## This is a test notebook for homework 7

In [1]:
import pandas as pd
import numpy as np
import traitlets
import ipywidgets

In [2]:
print("Homework 7")

Homework 7

In [3]:
print("This is a test notebook")

This is a test notebook

In [4]:
people_dict = { "weight": pd.Series([76, 100, 112],index=["matt", "bob", "charles"]),   "birthyear": pd.Series([1984, 1985, 1992], index=["bob", "matt", "charles"], name="year"),
"children": pd.Series([0, 3], index=["charles", "bob"]),
"hobby": pd.Series(["Singing", "Dancing"], index=["matt", "bob"]),}

In [7]:
people = pd.DataFrame(people_dict)
people

         weight  birthyear  children    hobby
bob         100       1984       3.0  Dancing
charles     112       1992       0.0      NaN
matt         76       1985       NaN  Singing

In [8]:
a = np.array([1,2, 3, 4, 5, 6])
a2 = a + 2

In [9]:
a2

array([3, 4, 5, 6, 7, 8])